# Edit this with your parameters and change the name to config.properties
# Only if you have a proxy
http.proxyHost=
http.proxyPort=

# FOLLOWING VARIABLES ONLY REQUIRED FOR ADVANCED MODE
advancedMode=true

## DATABASE CONFIGURATION
## Make sure you have the right JDBC driver on your classpath
# Database username
dbuser=
# Database password
dbpass=
# JDBC connect string to your database
dbpath=
## mysql
# dbpath=jdbc:mysql://localhost/brava
## in-memory HSQLDB
# dbpath=jdbc:hsqldb:mem:test;sql.syntax_mys=true;sql.ignore_case=true


# Admin key used for admin API (call scheduled tests, etc)
adminkey=
# SMTP host to send emails with reports
mailSmtpHost=
mailSmtpLogin=
mailSmtpPassword=
# Parameters required to send emails
fromEmailAddress=
fromPersonalName=
senderName=
contactEmail=
baseDomain=http://www.example.com/brapivalidator/

resourceJsonUrl=https://raw.githubusercontent.com/plantbreeding/API/master/brapi-resources.json
availableVersions=v1.0,v1.1,v1.2,v1.3
testedVersion=v1.2
