# Edit this with your parameters and change the name to config.properties
# Only if you have a proxy
http.proxyHost=PROXY_HOST
http.proxyPort=PROXY_PORT

# FOLLOWING VARIABLES ONLY REQUIRED FOR ADVANCED MODE
advancedMode=true
# H2 Username, password and path
dbuser=DB_USERNAME
dbpass=DB_PASSWORD
dbpath=DB_URL
# Admin key used for admin API (call scheduled tests, etc)
adminkey=
# SMTP host to send emails with reports
mailSmtpHost=
mailSmtpLogin=
mailSmtpPassword=
# Parameters required to send emails
fromEmailAddress=
fromPersonalName=
senderName=
contactEmail=
baseDomain=http://www.example.com/brapivalidator/

resourceJsonUrl=https://raw.githubusercontent.com/plantbreeding/API/master/brapi-resources.json
testedVersion=v1.1
