.formfield {
	width: 300px;
}

.fail-p {
	color: #a94442;
}

.success-p {
	color: #3c763d;
}

.hidden {
	display: none;
}

.card-header.accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: FontAwesome;  /* essential for enabling fontAwesome */
    content: "\f0d7";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.card-header.collapsed.accordion-toggle:after {
    /* symbol for "collapsed" panels */
    content: "\f0da";    /* adjust as needed, taken from bootstrap.css */
}


html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  margin-top: 15px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
  display:inline-block;
}

.footer-logo {
    height: 40px;
    float:right;
    margin: 10px 10px;
}

#testform {
    padding-bottom: 29px;
}

#testform h2 {
    margin-bottom: 30px;
}

#helpLink {
    cursor:default;
}

.font-14 {
    font-size: 14px;
}