<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BrAPI Validator Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<p>This is your BrAVa ${frequency} report.</p>

<p>As you requested, we tested your server located at:</p>

<p>${url}</p>

<p>This is the summary of the report:</p>

<p>Test name: ${testName}</p>

<p>Failed tests: ${failed}/${total}</p>

${failList}

<p>---</p>

<p>You'll find the full report as an attachment to this email.</p>

<p>If you have any questions or feedback feel free to contact us at ${contactEmail}.</p>

<p>Thanks for using BrAVa!</p>

<p>${senderName}</p>

<p>If you want to stop receiving these reports, <a href="${baseDomain}/brapivalidator/api/ci/unsubscribe?key=${endpointId}">unsubscribe here</a>.</p>
</body>
</html>

