<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BrAPI Validator Report</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<p>
<p>This is your BRAVA ${frequency} report.</p>

<p>As you requested, we tested your server located at:</p>

<p><a href="${url}">${url}</a></p>

<p>This is the summary of the report:</p>

<p>Test name: ${testName}</p>

<p>Passed tests: ${passed}/${total}</p>
<p>Failed tests:</p>
${failList}

<p>---</p>

<p>Check the full report here:</p>
<p><a href="${baseDomain}?report=${reportId}">${baseDomain}?report=${reportId}</a></p>

<p>Or in JSON format:</p>
<p><a href="${baseDomain}/api/testreport/${reportId}">${baseDomain}/api/testreport/${reportId}</a></p>

<p>Get a CSV summary of the report:</p>
<p><a href="${baseDomain}/api/shortreport/${reportId}/csv">${baseDomain}/api/shortreport/${reportId}/csv</a></p>

${prevReports}

<p>Change the test frequency by clicking on the corresponding link</p>
<p>
	<a href="${baseDomain}/api/ci/endpoints/${endpointId}/frequency?frequency=monthly">Monthly</a>
	 - <a href="${baseDomain}/api/ci/endpoints/${endpointId}/frequency?frequency=weekly">Weekly</a>
	 - <a href="${baseDomain}/api/ci/endpoints/${endpointId}/frequency?frequency=daily">Daily</a>
</p>

<p>If you have any questions or feedback feel free to contact us at ${contactEmail}.</p>

<p>Thanks for using BRAVA!</p>

<p>${senderName}</p>

<p>If you want to stop receiving these reports, <a href="${baseDomain}/api/ci/unsubscribe?key=${endpointId}">unsubscribe here</a>.</p>
</body>
</html>

