<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>BrAVa: Email confirmation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>BRAVA email confirmation</h1>

<p>You requested to test the server:</p>

<p>${url}</p>

<p>With the following frequency:</p>

<p>${frequency}</p>

<p>If you requested this, please click the following link to confirm.</p>

<p><a href="${baseDomain}/api/ci/confirmation?key=${endpointId}">${baseDomain}/api/ci/confirmation?key=${endpointId}</a></p>

<p>You'll start getting the reports with the frequency you requested.</p>

<p>You didn't request this? just ignore this email.</p>

<p>If you have any questions or feedback feel free to contact us at ${contactEmail}.</p>

<p>Thanks for using BRAVA!</p>

<p>${senderName}</p>

</body>
</html>

