<div class="main-container">
  <h1 class="mat-h1">Providers</h1>
  <div class="action-buttons" align="right">
    <button mat-fab color="primary" aria-label="Add a new provider" routerLink="new">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-spinner *ngIf="dataSource.loading$ | async" diameter="32"></mat-spinner>

  <table mat-table class="full-width-table" matSort aria-label="Elements" [dataSource]="dataSource">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let row">{{row.name}}</td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
      <td mat-cell *matCellDef="let row">{{row.description}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row [routerLink]="[row.id]" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator *ngIf="dataSource.page$ | async as page" [length]="page.totalElements" [pageSize]="page.size"
    [pageIndex]="page.number" [hidePageSize]="true" [pageSizeOptions]="[5, 10, 20]" aria-label="Select page"
    (page)="dataSource.fetch($event.pageIndex)">
  </mat-paginator>
</div>